*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
    background-color: #fff;
}
.header{
    background-color: #071c37;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.header img{
    display: flex;
    align-items: center;
}

.header h1{
    font-size: 30px;
    color: #ffffff;
    text-align: center;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;  
}

.To-Home{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    padding: 12px 34px;
    position: relative;
    text-align: left;
}

@media(max-width: 700px){
    .To-Home{
        font-size: 20px
    }
}




nav img{
    width: 120px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
}
@media(min-width: 700px){
   .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;  
    transition: 0.3s;
} 
}


.nav-links ul li:hover::after{
    width: 100%
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            border-right: 2px solid #000; /* Adjust the color of the cursor */
            margin: 0;
            padding: 0px;
            animation: typewriter 2s steps(5) infinite;
            overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .02em; /* Adjust as needed */
  animation: 
    typing .99s steps(12, end),
    blink-caret .95s step-end infinite;
}

.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 30px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
    
}
.hero-btn:hover{
    border: 1px solid #6688cf;
    background: #6688cf;
    transition: 0.25s;
    color: #000
}

nav .fa{
    display: none;
    z-index: 2;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 30px;
    }
    .text-box p{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
        border-bottom: 1px solid #fff;
        padding: 10px
    }
    .nav-links{
        position: fixed;
        background: #4762ae;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 3;
        transition: 0.5s;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 10px;
    }
    html, body{
        overflow-x: hidden;
    }
    body{
        position: relative;
    }
    
}

/*---------Synopsis------------*/

.synopsis{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    color: #000;
}
h1{
    font-size: 30px;
    font-weight: 600;
}
p{
    font-size: 20px;
/*    font-weight: 22px;*/
    padding: 10px;
}
h2{
    font-size: 30px;
    font-weight: 600;
    padding-top: 100px;
}

.row{
    margin-top: 5%;
    justify-content: space-between;
    display:inline-flex;
}

.row-thesis{
    margin-top: 5%;
    justify-content: space-between;
}



.synopsis-col{
    text-decoration: none;
    flex-basis: 31%;
    background: #071c37;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing:content-box;
    position: relative;
    top: 0;
    transition: 0.15s;
    color: #fff;
    display: block;
    margin-right: 5px;
    margin-left: 5px;
}


@media(max-width: 700px){
    .pip-img{
        width: 100%;
        height: auto;
        padding: 10px 2px;
        align-content: center;
    }
    
    .PIP{
        width: 80%;
        margin: auto;
        padding-top: 80px;
        padding-bottom: 50px;
    }
    
    .PIP-col-img{
        width: 80%;
        height: auto;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .row{
        display: block;
    }
    .synopsis-col{
        display: block;
    }
    .row-pip{
        margin-top: 5%;
        justify-content: space-between;
        display:inline-flex;
        display: block;
    }
    .PIP-col{
        flex-basis: 48%;
        padding: 30px 2px;
    }
}

.synopsis-col:hover{
    top: -10px;
}


.gingerbread{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.gingerbread-col{
    text-align: center;
}
.gingerbread-col img{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

/*-----------footer----------*/

.footer{
        width: 100%;
        text-align: center;
        padding: 30px 0;
}
@media(max-width: 700px){
    .footer p{
        font-size: 16px
    }
}


.footer p {
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            margin: 0;
            padding: 0px;
        }

@media(min-width: 701px){
    @keyframes typing {
  from { width: 0 }
  to { width: 395px }
}
}

@media(max-width: 700px){
    @keyframes typing {
  from { width: 0 }
  to { width: 190px }
}
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}



/*----------------about me page----------------*/

.sub-header-about{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0), rgba(4,9,30,0)),url(images/me.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header-about h1{
    font-size: 62px;
}
.sub-header h1{
    font-size: 30px;
    margin: 0; /* Remove default margin to align text with the logo */
}
.sub-header .about-title{
    color: #fff;
    margin-top: 230px;
}

.about-me{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}


.about-col p{
    padding-left: 0px;
}

.about-col img{
    width: 100%;
}

@media(max-width: 700px){
    .sub-header-about h1{
        font-size: 50px;
        padding-top: 50px
    }
}

/*-----------------------------------------------Contact Me---------------------------------------*/

.sub-header-contact{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0), rgba(4,9,30,0)),url(images/envelopes_v2.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.blue-btn{
    border: 1px solid #1147b5;
    background-color: #1147b5;
    color: #fff;
}

.blue-btn:hover{
    color: #000;
    background-color: #6688cf;
    border-color: #6688cf;
}


.contact-me{
    width: 80%;
    margin: auto;
}

.sub-header-contact h1{
    font-size: 62px;
}

.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.contact-col div .fa{
    font-size: 38px;
    color: #1147b5;
    margin: 10px;
    margin-right: 30px;
}

.contact-col div h5{
    padding: 0px;
    font-size: 22px;
    font-weight: 400;
}

.contact-col div p{
    padding: 0px;
    font-size: 18px;
}


.contact-col div h6{
        font-size: 32px;
        font-weight: 400;

    }
.contact-col div p2{
    font-size: 22px;
}


.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
    

}
@media(max-width: 700px){
    .contact-col div h5 {
        font-size: 18px; 
    }
    .contact-col div p {
    font-size: 14px; 
    }
    
    .page-title h1.about-title {
    font-size: 50px; 
    padding-top: 50px;
    }
    .contact-col div h6{
        font-size: 18px;
    }
    .contact-col div p2{
        font-size: 14px;
    }
}



/*----------------------------------------------------My Thesis-----------------------------------------*/

.mathmode{
/*    font-family: 'Noto Sans Math', sans-serif;*/
        font-family: 'Noto Serif', serif;
        font-weight: 300;
    
}

.sub-header-thesis{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0), rgba(4,9,30,0)),url(images/Thesis-banner.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.thesis-pdf{
    padding-top: 20px;
    padding-bottom: 20px;
}
@media(max-width: 700px){
    .thesis-pdf{
        height: 60vh;
    }
}

@media(min-width: 701px){
    .about-title{
        font-size: 
    }
}

/*------------------------------------------------------PIP--------------------------------------------------*/

.sub-header-PIP{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(images/Frutiger-banner.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.row-pip{
        align-content: center;
        text-align: center
    }

@media(min-width: 701px){
    
    .row-pip{
        display: flex;
        justify-content: center;
        align-items: center;
}
    
    .PIP-col{
        padding-top: 30px;
        padding-left: 4vw;
        width: 65%;
        flex-basis: 48%;
        text-align: left;
    }

    .row-pip{
        display:flex;
        align-content: center;
        text-align: center;
    }

    .pip-img{
        width: 60%;
        height: auto;
        padding-top: 30px;
        padding-right: 4vw;
        align-items: center;
    }

    .PIP-col-img{
        width: 35%;
}
    .about-title {
    font-size: 50px; /* You can adjust the font size as needed */
}

}



@media(max-width: 700px){
    .sub-header-PIP h1.about-title {
        font-size: 50px; /* Adjust the font size as needed */
        padding-top: 10px;
    }
}
/*----------------------------------------------TEACHING---------------------------------------------*/

.sub-header-teaching{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0), rgba(4,9,30,0)),url(images/chalkboard.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

























