*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}F
body{
    overflow-x: hidden;
    background-color: #fff;
}
.header{
    background-color: #071c37;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.header img{
    display: flex;
    align-items: center;
}

.header h1{
    font-size: 30px;
    color: #ffffff;
    text-align: center;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.To-Home{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    padding: 12px 34px;
    position: relative;
    text-align: left;
    z-index: 1;
}

@media(max-width: 700px){
    .To-Home{
        font-size: 20px;
        padding-left: 20px;
    }
}




nav img{
    width: 120px;
}
.nav-links{
    flex: 1;
    text-align: right;
    
    z-index: 1;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
}
@media(min-width: 700px){
   .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;  
    transition: 0.3s;
} 
}
.box-shadow{
    box-shadow: 0px 10px 30px 10px rgba(0,0,0,0.4);
}

.nav-links.open{
    box-shadow: 0px 10px 30px 10px rgba(0,0,0,0.4);
}


.nav-links ul li:hover::after{
    width: 100%
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}
.text-box-fr{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.text-box h1{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #000; /* Adjust the color of the cursor */
    margin: 0;
    padding: 0px;
    animation: typewriter 2s steps(5) infinite;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .02em; /* Adjust as needed */
    animation: 
    typing .99s steps(12, end),
    blink-caret .95s step-end infinite;
}
.text-box-fr h1{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #000; /* Adjust the color of the cursor */
    margin: 0;
    padding: 0px;
    animation: typewriter 2s steps(5) infinite;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .02em; /* Adjust as needed */
    animation: 
    typing-fr .99s steps(12, end),
    blink-caret .95s step-end infinite;
}

.text-box h1{
    font-size: 62px;
}

.text-box-fr h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 30px;
    color: #fff;
}

.text-box-fr p{
    margin: 10px 0 40px;
    font-size: 30px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
    margin-left: 10px;
    
}
.hero-btn:hover{
    border: 1px solid #6688cf;
    background: #6688cf;
    transition: 0.25s;
    color: #000;
}

nav .fa{
    display: none;
    z-index: 2;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 30px;
    }
    .text-box-fr h1{
        font-size: 30px;
    }
    .text-box p{
        font-size: 20px;
    }
    .text-box-fr p{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
        border-bottom: 1px solid #fff;
        padding: 10px;
    }
    .nav-links{
        position: fixed;
        background: rgb(29, 60, 100, 0.8);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 3;
        transition: 0.5s;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px); /* For Safari */
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 10px;
    }
    html, body{
        overflow-x: hidden;
    }
    body{
        position: relative;
    }
    
}

/*----------------------------------------------------Background animation effect-----------------------------------------------*/



.h{
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height: 100vh;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    text-align: center;
    color: #071c37;
}


.circles li:nth-child(1){
    font-size: 3em;
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    font-size: 1.3em;
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    font-size: 0.9em;
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    font-size: 2em;
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    font-size: 1em;
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    font-size: 5em;
    left: 5%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    font-size: 12em;
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    font-size: 1em;
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    font-size: 0.8em;
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    font-size: 9em;
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@-webkit-keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


/*---------Synopsis------------*/

.synopsis{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
    color: #000;
}


.synopsis h2{
    padding-top: 0px;
    padding-bottom: 20px;
}



h1{
    font-size: 30px;
    font-weight: 600;
}
p{
    font-size: 20px;
/*    font-weight: 22px;*/
    padding: 10px;
}
h2{
    font-size: 30px;
    font-weight: 600;
    padding-top: 100px;
}

.row{
    justify-content: space-between;
    display:block;
}

.row-index{
    margin: 5% 5%;
    justify-content: space-between;
    display:inline-flex;
}



.synopsis-col{
    text-decoration: none;
    flex-basis: 31%;
    background: #071c37;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing:content-box;
    position: relative;
    top: 0;
    transition: 0.15s;
    color: #fff;
    display: block;
    margin-right: -20px;
    margin-left: -20px;
}

.synopsis
.synopsis-col h3{
    font-size: 32px;
}

.PIP{
        width: 100%;
        padding-top: 0px;
        padding-bottom: 50px;
    }
@media(max-width: 700px){
    .pip-img{
        width: 100%;
        height: auto;
        padding: 10px 2px;
        align-content: center;
    }
    
    .PIP{
        width: 100%;
        margin: auto;
        padding-bottom: 50px;
    }
    
    .PIP-col-img{
        width: 80%;
        height: auto;
        margin: auto;
        padding-top: 40px;
        padding-bottom: 10px;
    }
    .row{
        display: block;
    }
    
    .synopsis-col{
        display: block;
    }
    .row-pip{
        margin-top: 5%;
        justify-content: space-between;
        display: block;
        align-content: center;
        margin-left: 5%;
        margin-right: 5%;
    }
    .PIP-col{
        flex-basis: 48%;
        padding: 30px 0px;
    }
    .PIP-col h1{
        padding-left: 10px;
    }
}

@media(max-width: 920px){
    .row-index{
        display: block;
    }
}

@media(min-width: 701px){
    .synopsis-col:hover{
    top: -10px;
    }
}


.synopsis-col{
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.6);
}
.synopsis-col:hover{
    box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.4);
}



/*-----------footer----------*/

.footer{
        width: 100%;
        text-align: center;
        padding: 30px 0;
}
@media(max-width: 700px){
    .footer p{
        font-size: 16px
    }
}


.footer p {
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            margin: 0;
            padding: 0px;
        }

@media(min-width: 701px){
    @keyframes typing {
  from { width: 0 }
  to { width: 395px }
}
}

@media(max-width: 700px){
    @keyframes typing {
  from { width: 0 }
  to { width: 190px }
}
}

@media(min-width: 701px){
    @keyframes typing-fr {
  from { width: 0 }
  to { width: 620px }
}
}

@media(max-width: 700px){
    @keyframes typing-fr {
  from { width: 0 }
  to { width: 310px }
}
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}



/*----------------about me page----------------*/

.sub-header-about{
    background-attachment: fixed;
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0), rgba(4,9,30,0)),url(images/About-BG-1.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header-about h1{
    padding-left: 10px;
    padding-right: 10px;
}

@media(max-width: 700px){
    .sub-header-about{
        background-image: linear-gradient(rgba(4,9,30,0), rgba(4,9,30,0)),url(images/About-BG-1-mobile.png);
    }
}

.sub-header-about h1{
    font-size: 50px;
}
.sub-header h1{
    font-size: 30px;
    margin: 0; /* Remove default margin to align text with the logo */
}
.sub-header .about-title{
    color: #fff;
    margin-top: 230px;
}

.about-me{
    width: 80%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 50px;
}

.about-col{
    flex-basis: 48%;
    padding: 30px 20px;
}


.about-col p{
    padding-left: 0px;
}

.about-col img{
    width: 100%;
}



@media(max-width: 700px){
    .sub-header-about h1{
        font-size: 50px;
        padding-top: 50px
    }
}

/*-----------------------------------------------Contact Me---------------------------------------*/

.sub-header-contact{
    background-attachment: fixed;
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0), rgba(4,9,30,0)),url(images/Envelope-BG-4.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
@media(max-width:700px){
    .sub-header-contact{
        background-image: linear-gradient(rgba(4,9,30,0), rgba(4,9,30,0)),url(images/Envelope-BG-4-mobile.png);
    }
}

.blue-btn{
    border: 1px solid #1147b5;
    background-color: #1147b5;
    color: #fff;
}
@media(max-width:700px){
    .blue-btn{
        margin-left: 5px
}
}

.blue-btn:hover{
    color: #000;
    background-color: #6688cf;
    border-color: #6688cf;
}


.contact-me{
    width: 80%;
    margin: auto;
}

.sub-header-contact h1{
    font-size: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
    margin-top: 5%;
}

.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.contact-col div .fa{
    font-size: 38px;
    color: #1147b5;
    margin-right: 30px;
}

.contact-col div h5{
    padding: 0px;
    font-size: 22px;
    font-weight: 400;
}

.contact-col div p{
    padding: 0px;
    font-size: 18px;
}


.contact-col div h6{
        font-size: 32px;
        font-weight: 300;

    }
.contact-col div p2{
    font-size: 22px;
}


.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
    

}
@media(max-width: 700px){
    .contact-col div h5 {
        font-size: 18px;
    }
    .contact-col div p {
    font-size: 16px; 
    }
    
    .page-title h1.about-title {
    font-size: 50px; 
    padding-top: 50px;
    }
    .contact-col div h6{
        font-size: 22px;
    }
    .contact-col div p2{
        font-size: 16px;
    }
}

.contact-form{
    border-radius: 5px;
background: #ffffff;
box-shadow: inset 7px 7px 12px #e3e3e3,
            inset -7px -7px 12px #ffffff;
}

/*----------------------------------------------------My Thesis-----------------------------------------*/

.mathmode{
/*    font-family: 'Noto Sans Math', sans-serif;*/
        font-family: 'Noto Serif', serif;
        font-weight: 300;
    
}

.sub-header-thesis{
    background-attachment: fixed;
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0), rgba(4,9,30,0)),url(images/Thesis-BG-6.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header-thesis h1{
    padding-left: 10px;
    padding-right: 10px;
}
@media(max-width: 700px){
    .sub-header-thesis{
        background-image: linear-gradient(rgba(4,9,30,0), rgba(4,9,30,0)),url(images/Thesis-BG-6-mobile.png);
    }
}


.thesis-pdf{
    padding-top: 20px;
    padding-bottom: 20px;
}
@media(max-width: 700px){
    .thesis-pdf{
        display: none;
    }
}


.about-title{
    font-size: 50px;
}



.thesis-btn{
    margin-top: 14px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}
@media(min-width: 701px){
    .thesis-btn{
        display: none;
    }
}
.thesis-btn:hover{
    border: 1px solid #6688cf;
    background: #6688cf;
    transition: 0.25s;
    color: #000
}

/*------------------------------------------------------PIP--------------------------------------------------*/

.sub-header-PIP{
    background-attachment: fixed;
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0), rgba(4,9,30,0)),url(images/Crypto-BG-1.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

}
@media(max-width: 700px){
    .sub-header-PIP{
        background-image: linear-gradient(rgba(4,9,30,0), rgba(4,9,30,0)),url(images/Crypto-BG-1-mobile.png);  
    }
}




@keyframes wipe-enter {
            from {
                transform: translate(1000px) rotate(360deg);
            }
            to {
                transform: translate(0px) rotate(0deg) ;
            }
        }


@media(min-width: 701px){
    
    .row-pip{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: center;
        margin: 5% 5%;
}
    
    .PIP-col{
        padding-top: 30px;
        flex-basis: 100%;
        text-align: left;
    }

    .pip-img{
        height: auto;
        margin-top: 30px;
        align-items: center;
        animation: wipe-enter 1s 0;
        width: 70%;
    }
}
.roll-animation{
    animation: wipe-enter 1s 1;
}
} 



@media(max-width: 700px){
    .sub-header-PIP h1.about-title {
        font-size: 50px; /* Adjust the font size as needed */
        padding-top: 10px;
    }
}
@media(max-width: 350px){
    h1.about-title {
        font-size: 35px; /* Adjust the font size as needed */
        padding-top: 10px;
    }
}
/*----------------------------------------------TEACHING---------------------------------------------*/

.sub-header-teaching{
    background-attachment: fixed;
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0), rgba(4,9,30,0)),url(images/Teaching-BG-1.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    
}
.sub-header-teaching h1{
    padding-left: 10px;
    padding-right: 10px;
}

@media(max-width: 700px){
    .sub-header-teaching{
        background-image: linear-gradient(rgba(4,9,30,0), rgba(4,9,30,0)),url(images/Teaching-BG-1-mobile.png);
    }
}


.table{
    border-collapse: collapse;
    justify-content: center;
    margin-left: 0.5%;
}

.teaching-table th{
    font-size: 20px;
    padding: 10px 20px;
    text-align: left;
    background-color: #6688cf;
    color: #fff;
}

.top-left-table{
    border-top-left-radius: 30px
}

.top-right-table{
    border-top-right-radius: 30px
}

.teaching-table td{
    font-size: 18px;
    padding: 10px 20px;
}

.teaching-table tr:nth-child(even){
    background-color: #e5e5e5;
}


@media(min-width: 701px){
    .teaching-col{
        padding-top: 30px;
        flex-basis: 48%;
        text-align: left;
        display: flex;
    flex-direction: column;
    }
    

    .row-teaching{
        display: block;
        justify-content: center;
        align-items: center;
        align-content: left;
        text-align: left;
        margin: 5% 5%;
    }
}    

.teaching{
    justify-content: center;
    align-items: center;
    padding: 0px 0;
}



.teaching-table {
    width: 100%;
    text-align: left;
    padding-left: 0px;
    align-items: left;
}



@media(max-width: 700px){
    .row-teaching{
        margin-top: 5%;
        justify-content: space-between;
        display: block;
        align-content: center;
        margin-left: 5%;
        margin-right: 5%;
    }
    .teaching-col{
        flex-basis: 48%;
        padding: 30px 1px;
    }
    .teaching-col h1{
        padding-left: 10px
    }
    
  
    .teaching-table {
        padding: 0;
    }
    .teaching-col p, .teaching-col h1{
        margin-left: 0px;
        margin-right: 0px;
    }
    .teaching-table{
        white-space: nowrap;
    }
    .teaching-table-container{
        width: 95vw;
        overflow-x: auto;
    }
}

.teaching-table-container{
    display: flex;
    justify-content: lef;
    align-items: center;
}




/*-------------------------------------------------------Blog-------------------------------------------------------*/

@gray-darker:               #444444;
@gray-dark:                 #696969;
@gray:                      #999999;
@gray-light:                #cccccc;
@gray-lighter:              #ececec;
@gray-lightest:             lighten(@gray-lighter,4%);

*,
*::before,
*::after { 
    box-sizing: border-box;
}

html {
    background-color: #fff;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.btn {
    background-color: white;
    border: 1px solid @gray-light;
    //border-radius: 1rem;
    color: @gray-dark;
    padding: 0.5rem;
    text-transform: lowercase;
}

.btn--block {
    display: block;
    width: 100%;
}
 
.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    align-content: center;
    display: grid;
    place-items: center;
}

.cards__item {
    display: grid;
    width: 95%;
    text-decoration: none;
    border-radius: 10px;
    margin-left: 1.6666%;
    
    margin-right: 1.6666%;
}

.cards__item:visited{
    color: white;
}

@media(min-width: 701px){
    .cards__item:hover{
        top: -100px;
        color: black;
    }
}


.cards__item{
    box-shadow: 0px 10px 30px 10px rgba(0,0,0,0.4);
    transition: 0.3s ease;
    
    margin-bottom: 50px;
    margin-top: 50px;
    
}
.cards__item:hover{
    box-shadow: 0px 20px 30px 10px rgba(0,0,0,0.4);
}
@media(min-width: 701px){
    .cards__item:hover{
    transform: translateY(-10px);
    }
    
}

.card {
    background-color: #071c37;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
}

.card__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
}

.card__image {
    height: 40vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(100%);
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
    &::before {
    content: "";
    display: block;
    padding-top: 56.25%;
    }
    @media(min-width: 40rem) {
    &::before {
      padding-top: 66.6%;
    }
    }
}


.card__image--bridges {
  background-image: url(images/Konigsberg_bridges.png);
}
.card__image--straws {
  background-image: url(images/straw.jpg);
}

.card__title {
  color: @gray-dark;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}


/*----------------------------------------------------------------------Blog Pages--------------------------------------------------------------------*/


.sub-header-blog_seven_bridges_of_konigsberg{
    background-attachment: fixed;
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.4), rgba(4,9,30,0.4)),url(images/Konigsberg_bridges.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    

    
}
.sub-header-blog_straw h1{
    padding-left: 10px;
    padding-right: 10px;
}

@media(max-width: 700px){
    .sub-header-blog_straw{
        background-image: linear-gradient(rgba(4,9,30,0.4), rgba(4,9,30,0.4)),url(images/straw.jpg);
        
    }
}

.sub-header-blog_straw{
    background-attachment: fixed;
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.4), rgba(4,9,30,0.4)),url(images/straw.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    
}
.sub-header-blog_seven_bridges_of_konigsberg h1{
    padding-left: 10px;
    padding-right: 10px;
}

@media(max-width: 700px){
    .sub-header-blog_seven_bridges_of_konigsberg{
        background-image: linear-gradient(rgba(4,9,30,0.4), rgba(4,9,30,0.4)),url(images/Konigsberg_bridges.png);
    }
}

.blog-konigsberg-img1 {
    text-align: center;
}


.sub-header-blog_straws{
    background-attachment: fixed;
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.4), rgba(4,9,30,0.4)),url(images/straw.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    
}
.sub-header-straws h1{
    padding-left: 10px;
    padding-right: 10px;
}

@media(max-width: 700px){
    .sub-header-blog_straws{
        background-image: linear-gradient(rgba(4,9,30,0.4), rgba(4,9,30,0.4)),url(images/straw.jpg);
    }
}

.blog-konigsberg-img1 {
    text-align: center;
}




@media(max-width: 700px){
    .blog h1{
        font-size: 50px;
        padding-top: 50px
    }
}




@media(max-width: 700px){
    .sub-header-blog h1{
        font-size: 50px;
        padding-top: 50px
    }
}

.sub-header-blog{
    background-attachment: fixed;
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0), rgba(4,9,30,0)),url(images/Blog-BG-1.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header-blog h1{
    padding-left: 10px;
    padding-right: 10px;
}

@media(max-width: 700px){
    .sub-header-blog{
        background-image: linear-gradient(rgba(4,9,30,0), rgba(4,9,30,0)),url(images/Blog-BG-1-mobile.png);
    }
    .cards__item{
        margin-bottom: 0;
    }
}

.sub-header-about h1{
    font-size: 50px;
}

.teaching-col p{
    font-size: 24px;
}



/*--------------------------------------------------z-indices for scroll-over effect------------------------------------------------*/





